{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Account</h1>
    <div class="row">
        <!-- 头像上传 -->
        <div class="col-md-4">
            <img src="{{ image_file }}" alt="User Avatar" class="img-thumbnail">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('account') }}">
                {{ form.hidden_tag() }}
                <div class="form-group mt-3">
                    {{ form.picture.label(class="form-label") }}
                    {{ form.picture(class="form-control") }}
                    {% for error in form.picture.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
        </div>
        <!-- 用户名和密码更新 -->
        <div class="col-md-8">
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group mt-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group mt-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                    {% for error in form.confirm_password.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <small class="text-muted">Leave blank if you don't want to change your password.</small>
                <div class="col">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
